.ScheduleOrderSection {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4vw 0;
  }  
  .carderfoodoursched1{
    height: 50vh;
    width: 25vw;

  }
  .myulist1{
    font-size: 1vw;
  
  }
  .bg-dark1 {
    background-color: #090c42 !important;
    height: 35vh;
    position: relative;
    right:-4%;
    border-radius: 22px !important;
    top: 3vw;
  }
  .absolutepostioin{
    position: relative;
  }
  
  .carderfoodoursched1 h2{
    font-size: 1.5vw;
    color: azure;
  
  }
  ul li {
    margin: 10px 0;
    font-size: 1.2em;
  }
  .imageSec1{
    height: 50vh;
    width: 100%;
    object-fit: cover;
   
  }
  /* Default styles (mobile-first) */
  /* body {
    font-size: 16px;
  }
  
  @media (min-width: 600px) {
    body {
        font-size: 18px;
    }
  }
  
  @media (min-width: 1024px) {
    body {
        font-size: 20px;
    }
  } */