.samebutton {
    background-color: #f2cf1f;
    border: none;
    padding: 1.3vw 2vw 1.3vw 2vw;
    border-radius: 18px;
    font-weight: 500;
    text-transform: uppercase;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    cursor: pointer;
    position: relative; 
    box-shadow: -4px 4px 0 rgba(0, 0, 0, 0.2); 
}

.samebutton:hover {
    transform: translate(5px, -5px); 
    box-shadow: -10px 10px 0 rgb(0, 12, 88); 
}
/***************homeboutton***************/