.experience{
    width: 100vw;
    background-color: #000000;
    height: 80vh;
    margin-top: 3vw;
    position: relative;

}
.experienceUpsideTriange{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 5vh;
    height: 5vh;
    top: -4%;
    transform: rotate(45deg);
    background-color: #f3f6ff;
}
.experience-main-div{
    height: 100%;
    padding-left: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.experience-photo-frame {
    width: 35vw;
    height: 50vh;
    
    border-radius: 12px;
    background-color: #ffffff;
    transform: perspective(800px) rotateY(15deg);
    transform-origin: left center; 
    transition: transform 0.5s ease-in-out; 
    padding: 2vw;
    box-shadow: 0px 0px 20px 5px #828282;
    
    transition: margin-bottom .4s ease-in-out;
}
.experience-photo-frame:hover{
    margin-bottom: 2vw;
    transition: margin-bottom .4s ease-in-out;
}
.inner-photo-frame{
    position: relative;
}
.inner-photo-frame img{
    
    border-radius: 12px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.experiencediv{
    position: absolute;
    top:-20%;
    right: -20%;
    width: 17vw;
    height: 20vh;
    border-radius: 23px;
    box-shadow: 0px 0px 20px 5px #828282;
    background-color: #ffffff;
    padding-top: 1vw;
    transition: transform .3s ease-in-out;
    cursor: pointer;
}
.experiencediv:hover{
    transform: rotate(-12deg);
    transition: transform .3s ease-in-out;
}
.experiencediv h1{
    color: black;
}
.experiencediv p{
    color: rgb(0, 0, 0);
    font-size: 1.5vw;
}
.experience-right-section p:first-child{
    color: #f2cf1f !important;
    font-weight: bold !important;

}
.experience-right-section h1{
    color: white;
    font-size: 3.8vw;
}
.experience-right-section p{
    color: rgb(139, 139, 139);
    font-size: 1.1vw;
}
@media screen and (max-width:768px){
    .experience-main-div :nth-child(1){
        flex-direction: column;
    }
    .experience-main-div :nth-child(1) {
        flex-direction: column;
    }

.experience-photo-frame {
    width: 87vw;
    height: 33vh;
}
.experiencediv{
    height: 12vh;
    width: 51vw;
}
.experiencediv h1{
    font-size:10vw;
}

.experiencediv p {
    font-size: 4.5vw;
    margin-top: -3vw;
}

.experience-main-div {
    padding-top: 12vw;
}
.experience-right-section {
    margin-top: -11vw;
}
.experience-right-section p:first-child{
    font-size: 5vw;
}
.experience{
    min-height: 100vh;
}
.experience-right-section h1 {
    color: white;
    font-size: 9.8vw;
    margin-top: -3vw;
}
.experience-right-section p {
    font-size: 3vw;
}
}