.ourScheduleSection {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4vw 0;
  }
  
  .ourschedule h1 {
    text-align: center;
    font-size: 4vw;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
  }
  
  .ourschedule p {
    text-align: center;
    color: rgb(182, 182, 182);
  }
  
  .ourschedule span {
    color: #ffc108;
  }
  .carderfoodoursched{
    height: 50vh;
    width: 25vw;
  }
  .myulist{
    font-size: 1vw;
  }
  .bg-dark {
    background-color: #000000 !important;
    height: 35vh;
    position: relative;
    left: -4%;
    border-radius: 22px !important;
    top: 3vw;
  }
  .absolutepostioin{
    position: relative;
  }
  
  .carderfoodoursched h2{
    font-size: 1.5vw;
  }
  ul li {
    margin: 10px 0;
    font-size: 1.2em;
  }
  .imageSec{
    height: 50vh;
    width: 45vw;
    object-fit: cover;
  }
  @media screen and (max-width : 768px) {
    
.ourschedule h1 {
    text-align: center;
    font-size: 8vw;
  }
  
.ourschedule p {
    font-size: 3vw;
}
.imageSec {
    height: 27vh;
    width: 90vw;
}
.bg-dark {
    background-color: #000000 !important;
    height: 30vh;
    position: relative;
    width: 64vw;
    left: 11%;
    border-radius: 22px !important;
    top: -10vw;
  }
  
.carderfoodoursched h2 {
    font-size: 3.5vw;
}
.myulist{
  font-size: 3vw;
}
}