body{
    overflow-x: hidden;
    background-color: #00166e !important;
}

::-webkit-scrollbar{
    display: none;
}
:root {
    --text-color: rgb(242, 206, 32);
    --color:#000;
    --background-color: #000000 ;
}
body{
    background-color: #ffff !important;
}
.second{
    background-color: none !important;
}