*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: rgb(242, 206, 32);
    --color:#ffff;
    --background-color: #5e1313 ;
}
  
body {
    background-color: var(--background-color) !important;
}
::-webkit-scrollbar{
    display: none;
}
  
  